body {
    min-height: 100vh;
    background-image: linear-gradient(80deg, rgb(10, 139, 178), rgb(10, 222, 246));
    font-family: Arial, sans-serif;
    text-align: center;
 }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #imageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  
  #selectedImageContainer {
    max-width: 50%;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  #selectedImage {
    box-shadow: 0 0 50px rgba(255, 255, 255, .7);
    max-width: 100%;
    height: auto;
  }
  
  #defaultImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15%;       /*Agregamos un margen*/
    margin-right: 15%;      /*Agregamos un margen*/
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
  }
  
  #defaultImages img {
    flex: 0 0 calc(33.333% - 20px);
    width: calc(33.333% - 20px);
    height: auto;
    margin: 10px;
  }
  
  .drop-area{
    border: 5px solid #ddd;
    border-radius: 50%;
    height: 150px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drop-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px #618ac9    
}

.drop-area h2{
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.drop-area span{
    font-size: 25px;
    color: #000;
}